@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --tile: oklch(0.9 0.02 250);
}

.dark {
  --background: oklch(0.09 0.02 260);
  --foreground: oklch(0.95 0.01 240);
  --card: oklch(0.12 0.03 265);
  --card-foreground: oklch(0.95 0.01 240);
  --popover: oklch(0.12 0.03 265);
  --popover-foreground: oklch(0.95 0.01 240);
  --primary: oklch(0.65 0.15 260);
  --primary-foreground: oklch(0.1 0.02 260);
  --secondary: oklch(0.15 0.03 255);
  --secondary-foreground: oklch(0.9 0.01 245);
  --muted: oklch(0.15 0.03 255);
  --muted-foreground: oklch(0.7 0.02 250);
  --accent: oklch(0.15 0.03 255);
  --accent-foreground: oklch(0.9 0.01 245);
  --destructive: oklch(0.7 0.2 20);
  --border: oklch(0.2 0.04 250);
  --input: oklch(0.2 0.04 250);
  --ring: oklch(0.4 0.08 250);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.12 0.03 265);
  --sidebar-foreground: oklch(0.95 0.01 240);
  --sidebar-primary: oklch(0.65 0.15 260);
  --sidebar-primary-foreground: oklch(0.1 0.02 260);
  --sidebar-accent: oklch(0.15 0.03 255);
  --sidebar-accent-foreground: oklch(0.9 0.01 245);
  --sidebar-border: oklch(0.2 0.04 250);
  --sidebar-ring: oklch(0.4 0.08 250);
  --tile: oklch(0.2 0.04 250);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
